/*Colors*/

/*Base Colors*/
$colorWhite: #fff;
$colorGrey: #999;
$colorBlack: #000;
$darkGrey: #313131;
$mediumGrey: #616161;
$lighterGrey: #fafafa;

/*Font Colors*/
$lightGrey: #777;

/*Selection Colors*/
$selectedPerson: #deb887;